
.right-btn { 
  float: right; 
}

.connection {
  color: white;
  padding: 10px 5px;
  background-color: #4DA167;
  font-size: 12px;
  border-radius: 10px;
  margin: 5px;
}

.action {
  text-align: center;
  color: white;
  padding: 20px 40px;
  background-color: #7284A8;
  font-weight: 800;
  border-style: solid;
  font-size: 12px;
  border-radius: 10px;
}

.flex {
  display: flex;
}

.jc {
  justify-content: center;
}

.margin-right {
  margin-right: 40px;
}

.margin-bottom {
  margin-bottom: 40px;
}

.center {
  height: 200px;
  width: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -200px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #DEE5E5;

}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #ecc30b;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #ecc30b;
  color: white;
}

h1 {
  font-size: 20pt;
  position: relative;
  color: #212738;
  font-family: 'Racing Sans One', cursive;
}

h1 span {
  background-color: #DEE5E5;
  padding-right: 10px;
}

h1:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.1em;
  border-top: 28px solid #7284A8;
  z-index: -1;
}



